@import './base.css';


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
body {
  display: flex;
  place-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
}
@media screen and (min-width: 300px) {
  
  .ulL{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: normal;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
   padding:1rem ;
   font-size: 16px;

    
    }
    .links{
      background: gainsboro;
      height: 90%;
      width: 90%;
      border-radius: 20px;
      border: 2px solid hsla(160, 100%, 37%, 1);
      border-radius: 26px;
      padding: 1rem;
      background: linear-gradient(145deg, #f0f0f0, #cacaca);
      box-shadow:  10px 10px 20px #bebebe,
                   -10px -10px 20px #ffffff;
              
    }
  #app {
    display: grid; 
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header header header header"
    "clases clases clases clases clases clases"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "footer footer footer footer footer footer"; 

    height: 100%;
    width: 100%;
  }
  .pag{
    height: 90%;
    width: 85%;
    padding:1rem;
    overflow: auto;
    background: gainsboro;
    border: 2px solid hsla(160, 100%, 37%, 1) ;
    padding: 1rem;
    border-radius: 20px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  }
  
}

@media screen and (min-width: 1129px) {
  .ulL{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: normal;
    flex-direction: column;
    padding:2rem ; 

    }
    .links{
      height: 80%;
      width: 70%;
      border: 2px solid hsla(160, 100%, 37%, 1);
      border-radius: 26px;
      background: linear-gradient(145deg, #f0f0f0, #cacaca);
      box-shadow:  10px 10px 20px #bebebe,
                   -10px -10px 20px #ffffff;
    }
  #app {
   
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header header header header"
      "clases main main main main main"
      "clases main main main main main"
      "clases main main main main main"
      "clases main main main main main"
      "clases main main main main main"
      "clases main main main main main"
      "clases main main main main main"
      "footer footer footer footer footer footer"; 
  

    height: 100%;
    width: 100%;
  }
  .pag{
    height: 90%;
    width: 70%;
    padding:1rem;
    overflow: auto;
    border-radius: 20px;
    border: 2px solid hsla(160, 100%, 37%, 1) ;
    padding: 1rem;
    border-radius: 20px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;
  }
  
}
.pag::-webkit-scrollbar {

  width: 10px;
 
}
.pag::-webkit-scrollbar-thumb {
  background-color: hsla(160, 100%, 37%, 1);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid gray;  /* creates padding around scroll thumb */
}

li{
  margin-left: 5px;
}